include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulos
				div#banner
			
				//- menu
				+menu
				
				//- lineamientos
				div.lineamientos
					div.title 
						h1 Lineamientos
					div.content
						p Bienvenidos al diplomado herramientas para la gestión socio-ambiental en la industria de gas, para conocer más información sobre los lineamientos y guías del diplomado puede acceder a uno de los siguientes enlaces.
						div
							a.blue-btn(href="https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=323513&chapterid=9346") Ver Lineamientos &rsaquo;
							a.white-btn(href="https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=323513&chapterid=9449") Cronograma &rsaquo;
				
				
				//- contenidos box
				div.contenidos-box
					div.title 
						h1 Contenidos	
					div.content
						p.italic A continuación encontrará los diferentes módulos que se trabajarán en el diplomado herramientas para la gestión socio-ambiental en la industria de gas. Los módulos se irán mostrando cuando llegue la fecha correspondiente.
						
				//- grid modulos
				div.grid-modulos.timeit(data-start="2019-10-08 00:00")
				
					div.modulos.timeit(data-start="2019-10-08 00:00")
						div.fechas
							h5 OCT
							h5 28
						div.content
							h2 Módulo 01
							h4 Ámbito jurídico: regulación para el sector, estrategias de licenciamiento ambiental
							p La regulación en temas ambientales se viene desarrollando aproximadamente desde la década de los 50 en Colombia, como resultado de la necesidad de controlar el uso de los recursos naturales del país.
							a.blue-btn(href="https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=323678&chapterid=9352") Entrar &rsaquo;
							+modulotest-home('test-mod-1')
							// a.white-btn(href="#") Conferencia &rsaquo;
							// a.white-btn(href="#") Evaluación &rsaquo;
							
					div.modulos.timeit(data-start="2019-11-11 00:00")
						div.fechas
							h5 NOV
							h5 11
						div.content
							h2 Módulo 02
							h4 Estudios ambientales: tipos, elaboración, y control de calidad
							p Estado tiene como deber planificar el manejo y aprovechamiento de los recursos naturales, con el fin de hacer uso de los mismos de forma sostenible, garantizando la conservación, restauración o sustitución, para ello deberá prevenir y controlar los aspectos que generan deterioro ambiental, así como de imponer sanciones legales y exigir la reparación de los daños causados (MADS, 2018). 
							a.blue-btn(href="https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=323678&chapterid=9352") Entrar &rsaquo;
							+modulotest-home('test-mod-2')
							//a.white-btn(href="#") Conferencia &rsaquo;
							//a.white-btn(href="#") Evaluación &rsaquo;
							
					div.modulos.timeit(data-start="2019-11-25 00:00")
						div.fechas
							h5 NOV
							h5 25
						div.content
							h2 Módulo 03
							h4 Áreas especiales de manejo y sustracción de áreas
							p En este módulo se presenta lo relacionado con la gestión socio-ambiental en áreas especiales de manejo y áreas sujetas a sustracción de reserva, específicamente se abordará: i) la normatividad relacionada con estas áreas, ii) la relación con el SINAP y/o SIRAP, iii) las categorías de manejo a las cuales pertenecen estas áreas, iv) la zonificación y usos permitidos, v) los planes de manejo formulados para estas áreas, vi) áreas de especial importancia ecológica, vii) los requisitos para solicitar la sustracción de las áreas, viii) el procedimiento para la sustracción, ix) las medidas aplicables de compensación y restauración, y x) algunos criterios de recuperación para estas.
							a.blue-btn(href="https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=325082&chapterid=9431") Entrar &rsaquo;
							+modulotest-home('test-mod-3')
							//a.white-btn(href="#") Conferencia &rsaquo;
							//a.white-btn(href="#") Evaluación &rsaquo;
							
					div.modulos.timeit(data-start="2020-01-15 00:00")
						div.fechas
							h5 ENE
							h5 15
						div.content
							h2 Módulo 04
							h4 Título módulo
							p Spicy jalapeno bacon ipsum dolor amet cow tail short loin strip steak swine kielbasa pancetta beef ribs pork frankfurter venison. Pork belly buffalo capicola, picanha short ribs turkey porchetta pig alcatra venison ground round. Boudin andouille landjaeger, rump capicola jerky cupim ball tip. Meatball bacon tenderloin jowl prosciutto alcatra, tri-tip t-bone jerky shankle ball tip chuck cow fatback pastrami. Filet mignon t-bone buffalo pork loin meatloaf. Filet mignon bresaola swine prosciutto, leberkas turducken shankle flank pancetta buffalo chicken t-bone.
							a.blue-btn(href="#") Entrar &rsaquo;
							+modulotest-home('test-mod-4')
							//a.white-btn(href="#") Conferencia &rsaquo;
							//a.white-btn(href="#") Evaluación &rsaquo;
							
					div.modulos.timeit(data-start="2020-01-27 00:00")
						div.fechas
							h5 ENE
							h5 27
						div.content
							h2 Módulo 05
							h4 Título módulo
							p Spicy jalapeno bacon ipsum dolor amet cow tail short loin strip steak swine kielbasa pancetta beef ribs pork frankfurter venison. Pork belly buffalo capicola, picanha short ribs turkey porchetta pig alcatra venison ground round. Boudin andouille landjaeger, rump capicola jerky cupim ball tip. Meatball bacon tenderloin jowl prosciutto alcatra, tri-tip t-bone jerky shankle ball tip chuck cow fatback pastrami. Filet mignon t-bone buffalo pork loin meatloaf. Filet mignon bresaola swine prosciutto, leberkas turducken shankle flank pancetta buffalo chicken t-bone.
							a.blue-btn(href="#") Entrar &rsaquo;
							+modulotest-home('test-mod-5')
							//a.white-btn(href="#") Conferencia &rsaquo;
							//a.white-btn(href="#") Evaluación &rsaquo;
							
					div.modulos.timeit(data-start="2020-02-10 00:00")
						div.fechas
							h5 FEB
							h5 10
						div.content
							h2 Módulo 06
							h4 Título módulo
							p Spicy jalapeno bacon ipsum dolor amet cow tail short loin strip steak swine kielbasa pancetta beef ribs pork frankfurter venison. Pork belly buffalo capicola, picanha short ribs turkey porchetta pig alcatra venison ground round. Boudin andouille landjaeger, rump capicola jerky cupim ball tip. Meatball bacon tenderloin jowl prosciutto alcatra, tri-tip t-bone jerky shankle ball tip chuck cow fatback pastrami. Filet mignon t-bone buffalo pork loin meatloaf. Filet mignon bresaola swine prosciutto, leberkas turducken shankle flank pancetta buffalo chicken t-bone.
							a.blue-btn(href="#") Entrar &rsaquo;
							+modulotest-home('test-mod-6')
							//a.white-btn(href="#") Conferencia &rsaquo;
							//a.white-btn(href="#") Evaluación &rsaquo;
							
					div.modulos.timeit(data-start="2020-02-24 00:00")
						div.fechas
							h5 FEB
							h5 24
						div.content
							h2 Módulo 07
							h4 Título módulo
							p Spicy jalapeno bacon ipsum dolor amet cow tail short loin strip steak swine kielbasa pancetta beef ribs pork frankfurter venison. Pork belly buffalo capicola, picanha short ribs turkey porchetta pig alcatra venison ground round. Boudin andouille landjaeger, rump capicola jerky cupim ball tip. Meatball bacon tenderloin jowl prosciutto alcatra, tri-tip t-bone jerky shankle ball tip chuck cow fatback pastrami. Filet mignon t-bone buffalo pork loin meatloaf. Filet mignon bresaola swine prosciutto, leberkas turducken shankle flank pancetta buffalo chicken t-bone.
							a.blue-btn(href="#") Entrar &rsaquo;
							+modulotest-home('test-mod-7')
							//a.white-btn(href="#") Conferencia &rsaquo;
							//a.white-btn(href="#") Evaluación &rsaquo;
							
					div.modulos.timeit(data-start="2020-03-09 00:00")
						div.fechas
							h5 MAR
							h5 09
						div.content
							h2 Módulo 08
							h4 Título módulo
							p Spicy jalapeno bacon ipsum dolor amet cow tail short loin strip steak swine kielbasa pancetta beef ribs pork frankfurter venison. Pork belly buffalo capicola, picanha short ribs turkey porchetta pig alcatra venison ground round. Boudin andouille landjaeger, rump capicola jerky cupim ball tip. Meatball bacon tenderloin jowl prosciutto alcatra, tri-tip t-bone jerky shankle ball tip chuck cow fatback pastrami. Filet mignon t-bone buffalo pork loin meatloaf. Filet mignon bresaola swine prosciutto, leberkas turducken shankle flank pancetta buffalo chicken t-bone.
							a.blue-btn(href="#") Entrar &rsaquo;
							+modulotest-home('test-mod-8')
							//a.white-btn(href="#") Conferencia &rsaquo;
							//a.white-btn(href="#") Evaluación &rsaquo;
				
							
	//- footer section			
	+footer
		
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			