include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				//- banner modulos
				div#banner
			
				//- menu
				+menu
				
				//- ---------------- 
				//- ---------------- Left content
				//- ---------------- 
				div.content-left
					
					div.blocks
						+modulo('Módulo 2', 'Estudios ambientales: tipos, elaboración, y control de calidad', 'test-mod-2')
						
						+navegacion('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=323912&chapterid=9362', 'back', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=323912&chapterid=9364', 'forward')
				
				//- ---------------- 
				//- ---------------- Right content
				//- ---------------- 
				div.content-right
					+modulo-video('video-mod-2')
					
					h1 Diagnóstico ambiental de alternativas (DAA)
					
					p El Diagnóstico Ambiental de Alternativas (DAA) tiene como propósito brindar a la autoridad ambiental competente, la información necesaria y suficiente que le permita evaluar y comparar diferentes alternativas para el desarrollo de un proyecto, obra o actividad. Producto de esta información, la autoridad ambiental competente podrá decidir cuál o cuáles alternativas permiten optimizar y racionalizar el uso de recursos y evitar o minimizar los riesgos, efectos e impactos negativos (MADS, 2018).

					p Todas las alternativas bajo las cuales sea posible desarrollar el proyecto, obra o actividad que se presenten, deben ser formuladas considerando diferentes variables, no solo las que tienen que ver con la ubicación o el trazado (de corredores o líneas), sino también, las relacionadas con la ingeniería, tecnología y diseño; estas opciones deben plantearse buscando el mejor desempeño ambiental de la construcción, operación, mantenimiento, entre otras fases del proyecto, a fin de optimizar y racionalizar el uso de recursos y evitar o minimizar los riesgos, efectos e impactos negativos que puedan generar en el área de estudio.

					p Aun cuando todas las alternativas objeto de evaluación y comparación tienen que ser ejecutables y ambientalmente racionales (lo cual no implica necesariamente que a alguna de ellas se le otorgue una licencia ambiental), es necesario contemplar el escenario sin proyecto para poder identificar los posibles efectos ambientales que ocasionarían cada una de ellas, así como para desarrollar el Análisis Costo Beneficio que establece el artículo 2.2.2.3.4.3 del Decreto 1076 de 2015 (MADS, 2018).

					p Adicional al análisis comparativo de los efectos y riesgos que podría ocasionar cada alternativa, el Diagnóstico Ambiental de Alternativas debe señalar las posibles soluciones y medidas de control y mitigación de dichos efectos y riesgos, así como una explicación de los impactos ambientales que no se pueden evitar o mitigar y, presentar respuestas fundamentadas a las inquietudes y observaciones de la comunidad que podría verse afectada (MADS, 2018).

					p La información contenida en el DAA debe permitir la comparación de todas las alternativas, y en este sentido, este estudio ambiental no debe excluir aspectos relevantes para la decisión frente a las alternativas propuestas. Para cumplir con estos objetivos, el DAA debe contener las especificaciones técnicas y los capítulos que se indiquen en los términos de referencia genéricos, así como los lineamientos, requerimientos y elementos metodológicos generales que se establecen a continuación. La elaboración del DAA debe efectuarse principalmente a partir de la consecución, revisión y validación de información secundaria; no obstante, se debe recopilar información primaria para los componentes que se requieran, en los siguientes casos (MADS, 2018):
					
					
					//- ---------------- 
					//- ---------------- Tabs
					//- ---------------- 
					+tabs-containers
						+set('titles')
							li.active: a(href='#1' data-toggle='tab') 1
							li: a(href='#2' data-toggle='tab') 2
							li: a(href='#3' data-toggle='tab') 3
							li: a(href='#4' data-toggle='tab') 4
							
						+set('content')
							div.tab-pane.fade.active.in#1
								p Si la información secundaria no se encuentra disponible.
							div.tab-pane.fade#2
								p Si la información secundaria no es pertinente ni adecuada para que la autoridad ambiental tome decisiones a partir de ella.
							div.tab-pane.fade#3
								p Si por las características intrínsecas del proyecto, obra o actividad, la autoridad considera necesaria la presentación de información más detallada.
							div.tab-pane.fade#4
								p Si por las particulares condiciones ambientales del área donde se pretende desarrollar el proyecto, obra o actividad, la autoridad considera necesaria la presentación de información más detallada.
								
								
					p En cuanto a las escalas de análisis y presentación de la información para el DAA, éstas dependen de la magnitud y características del proyecto (puntual / lineal), de la localización de las alternativas y de la extensión del área de estudio, por lo que son establecidas en los términos de referencia correspondientes (MADS, 2018).

					p Es importante señalar que la evaluación y comparación de las alternativas debe adelantarse mediante una Evaluación Multicriterio (EMC), método que permite organizar la información de línea base que se obtenga y analizarla mediante criterios, que desde diversos puntos de vista permiten tomar decisiones de forma íntegra, contemplando consideraciones ambientales, económicas, sociales y culturales, y brindando además, la posibilidad de conjugar información cuantitativa y cualitativa en el mismo procedimiento. A continuación se señalan los capítulos que debe incluir el DAA, así como las consideraciones y contenido que debe tener cada uno de ellos. Este contenido de los DAA, tienen un carácter genérico y en consecuencia deberán ser adaptados a la magnitud y otras particularidades del proyecto, así como a las características ambientales regionales y locales en donde se pretende desarrollar. Para elaborar el DAA, el interesado deberá consultar las guías ambientales que adopte el Ministerio de Ambiente, Vivienda y Desarrollo Territorial (MAVDT) para este tipo de proyectos, como instrumento de autogestión y autorregulación. Estas guías constituyen un referente técnico, de orientación conceptual, metodológica y procedimental para apoyar la gestión, manejo y el desempeño de los proyectos, obras o actividades, por lo que deberán ser utilizadas de forma complementaria a los presentes términos de referencia. A continuación se señalan los capítulos que deben incluir el DAA para proyectos lineales (términos de referencia DA-TER-3-01) y proyectos puntuales (términos de referencia DA-TER-4-01), así como las consideraciones y contenido que debe tener cada uno de ellos.
					
					
					//- ---------------- 
					//- ---------------- Tables
					//- ----------------
					+tables-containers('Tabla 2. Contenido del Diagnóstico Ambiental de Alternativas (DAA) para Proyectos Lineales')
						+set('thead')
							tr
								th Numeral
								th Tema / Componente
						+set('tr')
							tr
								td 0.
								td RESUMEN EJECUTIVO
							tr
								td 1.
								td GENERALIDADES
							tr
								td 1.1
								td Introducción
							tr
								td 1.2
								td Objetivos
							tr
								td 1.3
								td Antecedentes
							tr
								td 1.4
								td Alcances
							tr
								td 1.5
								td Metodología
							tr
								td 2.
								td CRITERIOS PARA LA IDENTIFICACIÓN DE ALTERNATIVAS
							tr
								td 3.
								td DESCRIPCIÓN DE LAS ALTERNATIVAS
							tr
								td 3.1
								td Localización
							tr
								td 3.2
								td Líneas de conducción de hidrocarburos, estaciones intermedias y terminales
							tr
								td 3.3
								td Carreteras y Vías Férreas
							tr
								td 3.4
								td Líneas de transmisión
							tr
								td 4.
								td CARACTERIZACIÓN DEL ÁREA DE INFLUENCIA DE PROYECTO
							tr
								td 4.1
								td Áreas de Estudio y Áreas de Influencia
							tr
								td 4.2
								td Medio abiótico
							tr
								td 4.2.1
								td Geología
							tr
								td 4.2.2
								td Geomorfología
							tr
								td 4.2.3
								td Suelos
							tr
								td 4.2.4
								td Hidrología
							tr
								td 4.2.5
								td Usos del agua
							tr
								td 4.2.6
								td Hidrogeología
							tr
								td 4.2.7
								td Geotecnia
							tr
								td 4.2.8
								td Clima
							tr
								td 4.2.9
								td Paisaje
							tr
								td 4.3
								td Medio biótico
							tr
								td 4.3.1
								td Ecosistemas terrestres
							tr
								td 4.3.1.1
								td Flora
							tr
								td 4.3.1.2
								td Fauna
							tr
								td 4.3.2
								td Ecosistemas acuáticos
							tr
								td 4.4
								td Medio Socioeconómico
							tr
								td 4.4.1
								td Lineamientos de participación
							tr
								td 4.4.2
								td Dimensión Demográfica
							tr
								td 4.4.3
								td Dimensión espacial
							tr
								td 4.4.4
								td Dimensión económica
							tr
								td 4.4.5
								td Dimensión cultural
							tr
								td 4.4.5.1
								td Caracterización cultural comunidades no étnicas
							tr
								td 4.4.5.2
								td Caracterización cultural comunidades étnicas
							tr
								td 4.4.6
								td Aspectos arqueológicos
							tr
								td 4.4.7
								td Dimensión político-organizativa
							tr
								td 4.4.8
								td Organización y presencia institucional
							tr
								td 4.4.9
								td Tendencias del desarrollo
							tr
								td 4.4.10
								td Información sobre población a desplazar
							tr
								td 4.5
								td Zonificación Ambiental
							tr
								td 5.
								td DEMANDA DE RECURSOS NATURALES
							tr
								td 6.
								td EVALUACIÓN AMBIENTAL
							tr
								td 6.1
								td Identificación y evaluación de impactos
							tr
								td 6.1.1
								td Sin proyecto
							tr
								td 6.1.2
								td Con proyecto
							tr
								td 7
								td ZONIFICACION DE MANEJO AMBIENTAL DEL PROYECTO
							tr
								td 8
								td ESTRATEGIAS DE MANEJO AMBIENTAL
							tr
								td 8.1
								td Medio abiótico
							tr
								td 8.2
								td Medio biótico
							tr
								td 8.3
								td Medio Socioeconómico
							tr
								td 9.
								td ESTRATEGIAS DE SEGUIMIENTO Y MONITOREO DEL PROYECTO
							tr
								td 10.
								td ESTUDIOS COMPLEMENTARIOS
							tr
								td 11.
								td PLAN DE CONTINGENCIA
							tr
								td 11.1
								td Análisis de Riesgos
							tr
								td 11.2
								td Lineamientos del plan de contingencia
							tr
								td 12.
								td COMPARACIÓN DE ALTERNATIVAS


					h1 Diagnóstico Ambiental de Alternativas (Daa) para Proyectos Puntuales
					
					//- ---------------- 
					//- ---------------- Tables
					//- ----------------
					+tables-containers('Tabla 3. Contenido del Diagnóstico Ambiental de Alternativas (DAA) para Proyectos Puntuales')
						+set('thead')
							tr
								th Numeral
								th Tema / Componente
						+set('tr')
							tr
								td 0.
								td RESUMEN EJECUTIVO
							tr
								td 1.
								td GENERALIDADES
							tr
								td 1.1
								td Introducción
							tr
								td 1.2
								td Objetivos
							tr
								td 1.3
								td Antecedentes
							tr
								td 1.4
								td Alcances
							tr
								td 1.5
								td Metodología
							tr
								td 2.
								td DESCRIPCIÓN DEL PROYECTO
							tr
								td 2.1
								td Localización
							tr
								td 2.2
								td Descripción técnica de las alternativas del proyecto
							tr
								td 2.2.1
								td Aspectos técnicos de las infraestructuras, superestructuras e instalaciones conexas
							tr
								td 2.2.2
								td Criterios para la identificación de alternativas
							tr
								td 2.2.3
								td Análisis general de posibles cuadrantes
							tr
								td 2.2.4
								td Instalaciones conexas
							tr
								td 2.2.5
								td Abandono y restauración final
							tr
								td 3
								td CARACTERIZACIÓN DEL ÁREA DE INFLUENCIA DE PROYECTO
							tr
								td 3.1
								td Áreas de Estudio y Áreas de Influencia
							tr
								td 3.2
								td Medio abiótico
							tr
								td 3.2.1
								td Geología
							tr
								td 3.2.2
								td Geomorfología
							tr
								td 3.2.3
								td Suelos
							tr
								td 3.2.4
								td Hidrología
							tr
								td 3.2.5
								td Usos del agua
							tr
								td 3.2.6
								td Hidrogeología
							tr
								td 3.2.7
								td Geotecnia
							tr
								td 3.2.8
								td Clima
							tr
								td 3.2.9
								td Paisaje
							tr
								td 3.3
								td Medio biótico
							tr
								td 3.3.1
								td Ecosistemas terrestres
							tr
								td 3.3.2
								td Ecosistemas acuáticos
							tr
								td 3.4
								td Medio Socioeconómico
							tr
								td 3.4.1
								td Lineamientos de participación
							tr
								td 3.4.2
								td Dimensión Demográfica
							tr
								td 3.4.3
								td Dimensión espacial
							tr
								td 3.4.4
								td Dimensión económica
							tr
								td 3.4.5
								td Dimensión cultural
							tr
								td 3.4.6
								td Aspectos arqueológicos
							tr
								td 3.4.7
								td Dimensión político-organizativa
							tr
								td 3.4.8
								td Organización y presencia institucional
							tr
								td 3.4.9
								td Tendencias del desarrollo
							tr
								td 3.4.10
								td Información sobre población a desplazar
							tr
								td 3.5
								td Zonificación Ambiental
							tr
								td 3.5.1
								td Generalidades
							tr
								td 3.5.2
								td Descripción del método, indicando los criterios para su valoración y señalar sus limitaciones
							tr
								td 4.
								td DEMANDA, USO, APROVECHAMIENTO Y/O AFECTACIÓN DE RECURSOS NATURALES RENOVABLES
							tr
								td 4.1
								td Aguas superficiales
							tr
								td 4.2
								td Aguas subterráneas
							tr
								td 4.3
								td Vertimientos
							tr
								td 4.4
								td Ocupación de cauces
							tr
								td 4.5
								td Materiales de Construcción
							tr
								td 4.6
								td Aprovechamiento forestal
							tr
								td 4.7
								td Emisiones atmosféricas
							tr
								td 4.8
								td Residuos sólidos
							tr
								td 5.
								td EVALUACIÓN AMBIENTAL
							tr
								td 6.
								td ZONIFICACIÓN DE MANEJO AMBIENTAL DEL PROYECTO
							tr
								td 7.
								td ESTRATEGIAS DE MANEJO AMBIENTAL
							tr
								td 7.1
								td Medio abiótico
							tr
								td 7.2
								td Medio biótico
							tr
								td 7.3
								td Medio Socioeconómico
							tr
								td 8.
								td Estrategias de seguimiento y monitoreo del proyecto
							tr
								td 9.
								td Estudios Complementarios
							tr
								td 9.1
								td Análisis de Riesgos
							tr
								td 9.2
								td Lineamientos del plan de contingencia
							tr
								td 10.
								td COMPARACIÓN DE ALTERNATIVAS
							tr
								td &nbsp;
								td ANEXOS
					
					//- Foot notes
					// +footnotes('footnotes-mod-2')
					

					//- Material modulo
					+material-modulo('material-mod-2')
					
					
					
					
	//- footer section
	+footer
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			