include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				//- banner modulos
				div#banner
			
				//- menu
				+menu
				
				//- ---------------- 
				//- ---------------- Left content
				//- ---------------- 
				div.content-left
					
					div.blocks
						+modulo('Módulo 2', 'Estudios ambientales: tipos, elaboración, y control de calidad', 'test-mod-2')
						
						+navegacion('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=323912&chapterid=9365', 'back', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=323912&chapterid=9367', 'forward')
				
				//- ---------------- 
				//- ---------------- Right content
				//- ---------------- 
				div.content-right
					+modulo-video('video-mod-2')
					
					h1 Área de influencia, localización municipal y veredal
				
					p El área de influencia de un proyecto, obra o actividad se define como la zona en la cual se manifiestan los impactos ambientales significativos, y su identificación y delimitación está estrechamente vinculada a la caracterización ambiental y a la evaluación ambiental, pues son procesos que dependen los unos de los otros y que deben realizarse de forma conjunta e iterativa hasta establecer una superficie que satisfaga la definición de área de influencia.

					p Resulta conveniente que para desarrollar estos procesos se tenga presente el concepto de ambiente, así como los impactos ambientales significativos que puede llegar a provocar el proyecto. La definición de ambiente adoptada en el marco del licenciamiento ambiental, conlleva a que la delimitación del área de influencia y su caracterización, así como la evaluación ambiental del EIA, deban enfocarse en brindar una visión integral de los componentes, grupos de componentes y los medios afectados en cada una de las fases de desarrollo del proyecto.

					p Los impactos ambientales significativos de interés para la definición del área de influencia, son aquellos impactos negativos directos, indirectos, sinérgicos y/o acumulativos, que por la afectación que producen al ambiente resultan de importancia para la sociedad, que los valora tomando en consideración múltiples perspectivas a fin de tomar una decisión respecto de la viabilidad ambiental de emprender el proyecto que los generaría.

					p Es importante tener en cuenta que las metodologías que se empleen para establecer el grado de significancia de los impactos ambientales, deben valerse en lo posible de información cuantitativa y permitir, de acuerdo a las características del proyecto propuesto y las condiciones ambientales particulares del lugar en el que se prevé su desarrollo, calificar y jerarquizar los impactos a fin de seleccionar, según las categorías de valoración que se fijen, aquellos que resulten significativos.

					p Con el objeto de realizar los procesos de caracterización del área de influencia, de evaluación ambiental y de manejo y seguimiento ambiental del proyecto de forma más precisa y eficiente, se ha previsto la posibilidad de delimitar un área de influencia para cualquiera de las subdivisiones que conforman el ambiente, es decir, componentes, grupos de componentes o medios. Si por ejemplo se identifica que el área de influencia del componente hidrológico es diferente en forma, tamaño y ubicación al área de influencia del componente atmosférico, la caracterización de cada uno de ellos, al igual que las medidas de manejo que se formulen y el seguimiento, deben enfocarse en su respectiva área de influencia.

					p En todo caso el área de influencia del proyecto, es decir, el área en la que se manifiestan los impactos ambientales significativos de las actividades que se desarrollan durante todas sus fases de desarrollo, corresponde a la superposición de las áreas de influencia por componentes, grupos de componentes o medios que se identifiquen en cada caso. En la Figura 1 se ilustra de forma esquemática la manera en que se superponen las áreas de influencia de los componentes del medio abiótico para conformar el área de influencia de dicho medio.	
					
					
					//- ---------------- 
					//- ---------------- Image / video + caption
					//- ---------------- 		
					+image-caption('https://ubosquemoodle.unbosque.edu.co/diseno/cursos/diplomado-herramientas-para-la-gestion-socioambiental-en-la-industria-del-gas/images/mod-2/001.jpg', 'example-1', 'https://ubosquemoodle.unbosque.edu.co/diseno/cursos/diplomado-herramientas-para-la-gestion-socioambiental-en-la-industria-del-gas/images/mod-2/001.jpg', 'Figura 1.  Área de influencia por componentes y medio')
						span Figura 1.  Área de influencia por componentes y medio, Fuente: Grupo de instrumentos – ANLA, 2015
						
						
					p Asimismo, resulta oportuno señalar que en razón a que las actividades de un proyecto son diferentes en cada una de las fases de su desarrollo, e incluso, siendo las mismas pueden variar en alcance y magnitud, el área de influencia adquiere un carácter variable en el tiempo, de acuerdo a la forma en que cambian las actividades y los impactos ambientales significativos que generan. Al definir el área de influencia para los diferentes componentes, grupos de componentes o medios, se debe tomar como punto de referencia los escenarios más críticos de manifestación de los impactos ambientales identificados.

					p De acuerdo con lo anterior, el área de influencia adquiere las siguientes características: i) es un área única que resulta de la integración o superposición de las áreas de influencia por componente, grupo de componentes y medios, ii) es un área que no se restringe solamente al lugar en el que se generan los impactos (área de intervención) y se extiende a las zonas en las que se manifiestan los impactos directos, indirectos, sinérgicos y acumulativos, iii) puede ser un área discontinua (de varios polígonos separados), y iv) es un área que puede variar en el tiempo.
					
					
					h3 Con el propósito de efectuar una correcta identificación y delimitación del área de influencia, se deben tener en cuenta las siguientes consideraciones:
					
					
					//- ---------------- 
					//- ---------------- Tabs
					//- ---------------- 
					+tabs-containers
						+set('titles')
							li.active: a(href='#1' data-toggle='tab') 1
							li: a(href='#2' data-toggle='tab') 2
							li: a(href='#3' data-toggle='tab') 3
							li: a(href='#4' data-toggle='tab') 4
							li: a(href='#5' data-toggle='tab') 5
							
						+set('content')
							div.tab-pane.fade.active.in#1
								p El proyecto, obra o actividad y sus actividades asociadas y/o relacionadas incluyen la planeación, emplazamiento, instalación, construcción, montaje, operación y mantenimiento, así como el desmantelamiento, abandono, y/o terminación de todas las acciones, usos del espacio y remoción de la infraestructura permanente y temporal relacionada y asociada con su desarrollo.
							div.tab-pane.fade#2
								p En caso de que se requieran vías de acceso al proyecto, para la delimitación del área de influencia se deben considerar por lo menos las vías nuevas (construidas como parte del proyecto) y las vías privadas que el proyecto pretenda utilizar.
							div.tab-pane.fade#3
								p Los componentes sobre los cuales se debe efectuar el análisis de las áreas de influencia, corresponden a los indicados en el numeral de caracterización ambiental para cada uno de los medios (abiótico, biótico y socioeconómico); dicha caracterización ambiental de las áreas de influencia, debe presentar información primaria y secundaria34 para cada componente, grupo de componentes o medios.
							div.tab-pane.fade#4
								p Con el propósito de identificar y delimitar el área de influencia para el medio socioeconómico o sus componentes, es necesario analizar y evaluar la forma en que los impactos generados por el proyecto en los medios abiótico y biótico inciden sobre los elementos socioeconómicos del área.
							div.tab-pane.fade#5
								p El área de influencia de cada componente puede contener en su interior áreas diferenciadas para cada factor ambiental, siempre y cuando cada una de éstas se refiera a la superficie en la cual se manifiestan los impactos ambientales significativos generados por el proyecto sobre dicho factor particular. Ello permite que la caracterización de cada factor y el posterior manejo y seguimiento de impactos, se enfoquen en áreas específicas y no en áreas generales a todo el componente (en las cuales no hay afectación del factor en cuestión).
								
								
					p El EIA debe presentar las áreas de influencia para cada componente, grupo de componentes o medios, además del área de influencia del proyecto; todas ellas deben estar debidamente sustentadas y cartografiadas. A menos que se señale lo contrario, cuando en este documento se mencione el “área de influencia”, se debe entender como toda el área de influencia del proyecto, obra o actividad.

					p A partir de los lineamientos señalados anteriormente, la identificación y delimitación del área de influencia se debe efectuar en las siguientes dos fases:
					
					
					
					//- ---------------- 
					//- ---------------- Accordion
					//- ---------------- 
					+accordion('accordion1')
						+accordion-item('#accordion1', '#box1', 'box1', '5.1. Fase Previa')
							p En esta fase se debe plantear un área de influencia preliminar y recopilar para la misma, información primaria y secundaria (de tipo cualitativo y/o cuantitativo) a fin de obtener una aproximación al conocimiento de las características del ambiente (línea base ambiental), de forma que sea posible realizar una primera predicción de la forma en que dichas características se impactarían durante el desarrollo y operación del proyecto (identificación y valoración de impactos). A partir de esta fase en la que se adquiere conocimiento del ambiente y se identifican y valoran los impactos ambientales de forma preliminar, se inicia un proceso de ajuste sucesivo.
							
						+accordion-item('#accordion1', '#box2', 'box2', '5.2. Fase de análisis ')
							p El área de influencia por componente, grupo de componentes o medio debe ser planteada en función de unidades de análisis tales como: cuencas hidrográficas, provincias hidrogeológicas, sistemas acuíferos, unidades ambientales costeras, ecosistemas, unidades de paisaje, unidades territoriales político-administrativas, o cualquier otra que se identifique en la formulación del EIA. Cada área de influencia por componente, grupo de componentes o medio, debe tener una unidad mínima de análisis, la cual debe ser debidamente sustentada.

							p La determinación del área de influencia por componente, grupo de componentes o medios es un proceso que se debe desarrollar iterativamente, de forma que un área de influencia preliminar que resulta de una primera evaluación ambiental, se ajusta progresivamente de acuerdo a la información detallada que aporta la caracterización ambiental y a las sucesivas evaluaciones que estiman la forma en que las actividades del proyecto podrían impactar los elementos del ambiente. Descartar o identificar impactos ambientales significativos no contemplados inicialmente, eventualmente implicaría una nueva delimitación de la extensión, forma y ubicación del área de influencia original.

							p Esta sucesión de procesos de evaluación, delimitación y caracterización culmina, cuando se satisfaga la definición de área de influencia para un proyecto dado bajo unas condiciones ambientales específicas y, su ejecución, debe estar apoyada en el uso de software de procesamiento geoespacial, la modelación de sistemas, los estudios de caso, el conocimiento de expertos, entre otras herramientas. Se debe describir claramente los procedimientos ejecutados para establecer el área de influencia, indicando en el modelo de procesamiento de información geográfica los cálculos, funciones, pesos u otros métodos utilizados.

							p A continuación se señalan algunas consideraciones específicas para establecer las áreas de influencia de los componentes de los medios abiótico, biótico y socioeconómico.
							
						+accordion-item('#accordion1', '#box3', 'box3', '5.2.1. Medio abiótico')
							p Para la delimitación del área de influencia del medio abiótico y la de sus componentes, se deben integrar las siguientes zonas: i) zona del proyecto que será directamente intervenida con obras civiles e infraestructura permanente y temporal asociada a las actividades de instalación, ejecución y mantenimiento del mismo (vías, campamentos, Zona de Manejo de Escombros y Material de Excavación (ZODME), talleres, plantas y demás construcciones según el proyecto formulado) ii); zonas en las que se prevé la intervención por el uso y/o aprovechamiento de recursos naturales (captaciones, vertimientos, ocupaciones de cauce, entre otros) y iii); zonas hacia las cuales trascienden los impactos significativos provocados por las actividades ejecutadas en el área de intervención y en el área de uso y aprovechamiento de recursos naturales.

							p Esta delimitación debe considerar además del análisis de la información primaria y secundaria que deriva de la caracterización ambiental, los resultados de modelos analíticos, numéricos o estocásticos que se desarrollen para simular la magnitud, extensión y duración de los impactos que se generan en todas las fases del proyecto sobre los diferentes componentes que hacen parte de este medio. La delimitación del área de influencia se debe adelantar a partir del escenario de modelación más desfavorable para el componente analizado, es decir, se escoge la simulación que contenga el impacto de mayor significancia.

							p Los resultados de dichos modelos deben ser contrastados con la normativa ambiental relativa al componente analizado, de forma que si los valores simulados superan la norma específica, sus impactos negativos asociados deben ser asumidos como significativos. La decisión de cuáles son los fenómenos y situaciones a modelar, está dada por la identificación y valoración de los impactos ambientales; se debe dar una explicación del porqué se realiza o no un modelamiento determinado. En los casos en que no exista una norma de referencia nacional como punto de comparación, la significancia del impacto se debe evaluar considerando como mínimo la extensión, magnitud y duración del impacto simulado.

							p Algunos ejemplos de modelaciones numéricas que se pueden presentar en el medio abiótico son, el modelamiento de dispersión de las emisiones generadas por las fuentes asociadas al proyecto y el modelamiento de los niveles de ruido ambiental para el componente atmosférico; el modelamiento de los vertimientos en agua superficial para el componente hidrológico y; el modelamiento para determinar el abatimiento del agua subterránea para el componente hidrogeológico. Estos modelos deben ser formulados utilizando software especializado.

							p La delimitación del área de influencia del proyecto para el componente atmosférico se debe determinar a partir de la isopleta (isolínea de concentración) de modelamiento de dispersión de emisiones de las fuentes a ser emplazadas. Para esto, se debe tomar como referencia la isopleta encontrada de mayor extensión entre la concentración modelada anual de PM10 (fondo incluido) de 20 μg/m3 y la concentración modelada anual de PM2.5 (fondo incluido) de 10 μg/m335. En caso de no contemplar descargas de material particulado durante ninguna de las fases de la ejecución del proyecto, se deberá tomar la isopleta del valor objetivo para el parámetro de referencia escogido acorde a lo establecido por la Organización Mundial de la Salud (OMS).

							p Se recomienda que dichos modelamientos, además de ser alimentados con el monitoreo ambiental que se realice para la formulación del EIA, se nutran de la información referente a monitoreos contenida en las GDB de los ICA y/o de las licencias ambientales otorgadas a proyectos aledaños; asimismo, es recomendable hacer uso de la información oficial que las autoridades ambientales regionales han dispuesto en sus herramientas de planificación, redes de monitoreo, estudios específicos, entre otras fuentes de datos e información.

							p Para el levantamiento de la información se debe tener en cuenta la normativa ambiental vigente, entre otras, las Resoluciones 0627 de 2006, 909 de 2008 (modificada por las Resoluciones 1377 de 2015, 802 de 2014 y 1309 de 2010), 2153 y 2154 de 2010, 1541 de 2013 (modificada por la Resolución 672 de 2014) y 2254 de 2017, así como lo contemplado en el Decreto 1076 de 2015, y las normativas que sustituyan, modifiquen o deroguen estas nomas.

							p Una vez obtenidos los modelamientos en los diferentes componentes ambientales, éstos deben ser superpuestos mediante el uso de software de procesamiento geoespacial, a fin de definir el área de influencia del medio abiótico.
							
							
						+accordion-item('#accordion1', '#box4', 'box4', '5.2.2. Medio biótico')
							p La identificación y delimitación del área de influencia de los componentes del medio biótico, al igual que los que hacen parte de los medios abiótico y socioeconómico, no debe limitarse al área de intervención del proyecto, donde los impactos pueden evidenciarse de modo directo e inmediato, sino que debe extenderse más allá, en función de potenciales impactos que el proyecto pueda generar.

							p La afectación a un ecosistema no se restringe solamente al lugar en el que ocurre un impacto; por ejemplo, la pérdida de cobertura de bosque ocasiona otros impactos directos e indirectos que afectan procesos ecológicos que van más allá de dicha área, como la pérdida de conectividad ecológica y el cambio en la distribución de especies de fauna silvestre. En este sentido, el área de influencia tiene que expresar el alcance total de los impactos sobre el componente intervenido, para lo cual se deben considerar unidades de análisis que permitan evidenciar de la forma más precisa posible, los impactos sobre los procesos ecológicos de un organismo o de un elemento que haga parte del ecosistema afectado y sobre las características de interés como los elementos sensibles del medio biótico (p. e. especies con distribución restringida, especies con hábitats muy específicos, áreas en condiciones exclusivas de funcionalidad ecosistémica, entre otras).

							p Es importante aclarar que, para el caso del medio biótico y sus componentes, la delimitación del área de influencia debe idealmente partir del ecosistema como unidad mínima de análisis, identificando estas unidades mediante la metodología planteada en el documento Memoria Técnica del Mapa de Ecosistemas Continentales, Costeros y Marinos de Colombia (MEC), escala 1:100.000 (IDEAM et al., 2017), o la que se señale en versiones posteriores; no obstante, es posible definir unidades mínimas de análisis diferentes al ecosistema, tales como las unidades de cobertura vegetal (en cuyo caso debe utilizarse la metodología Corine Land Cover adaptada para Colombia). En todo caso, la delimitación de los ecosistemas y demás unidades de análisis, debe asociar y reconocer las características de funcionalidad, estructura y composición de los distintos niveles de la biodiversidad.

							p Para la identificación y valoración de los impactos ambientales significativos relacionados con conectividad y fragmentación ecológica, se recomienda el uso de modelos de identificación y valoración de los fragmentos de ecosistemas que actúan como receptores, fuentes y/o áreas de paso; los documentos de Saura et al. (2011), Mateo-Sánchez et al. (2015) y Bodin & Saura (2010), contienen ejemplos que desarrollan estos modelos. En otros documentos especializados se pueden encontrar herramientas adicionales para la identificación y valoración de impactos, tales como los modelos espaciales que estudian los efectos de borde sobre anfibios y reptiles36, los efectos de la fragmentación sobre aves, los efectos del ruido sobre la fauna silvestre38, los efectos de la luz sobre la fauna silvestre, entre otros.
							
							
						+accordion-item('#accordion1', '#box5', 'box5', '5.2.3. Medio socioeconómico')
							p A continuación se mencionar algunos lineamientos mínimos para facilitar la compleja labor de delimitar el espacio geográfico en el cual se manifiestan los impactos del medio socioeconómico, área sujeta a la caracterización de los componentes de este medio, a la identificación y valoración de impactos y a su posterior seguimiento.

							p El área de influencia debe definirse de acuerdo a los impactos ambientales significativos previstos por la ejecución del proyecto, obra o actividad. Se deben establecer las relaciones existentes entre las dinámicas propias de los territorios y las áreas en las que se propone ejecutar el desarrollo infraestructural y los sitios en donde se planteen actividades y obras asociadas. Para identificar y delimitar el área de influencia del medio socioeconómico, es necesario analizar la forma en que los impactos previstos para los medios abiótico y biótico afectan a la población y sus relaciones económicas, sociales y culturales.

							p Para el análisis del área de influencia del medio socioeconómico se deben tener en cuenta, como unidad de análisis, las unidades territoriales contenidas en los municipios, que pueden corresponder a los corregimientos, veredas, sectores de vereda, barrios, inspecciones de policía, u otras unidades reconocidas administrativa o socialmente. Resulta factible que, de acuerdo con las características del proyecto y sus posibles impactos en el medio socioeconómico, se decida considerar al municipio en su totalidad como unidad territorial de análisis.

							p Se debe justificar claramente la selección de las unidades territoriales de análisis, a partir de criterios socioeconómicos que sustenten dicha división. Las unidades de análisis, sean de acuerdo a lo establecido en el capítulo de caracterización. La delimitación del área de influencia para el medio socioeconómico se debe realizar a partir de la identificación y descripción de las dinámicas propias de las relaciones funcionales del territorio. 
							
							h3 Para reconocer dichas relaciones, se debe tener en cuenta como mínimo lo siguiente:
							
							ul
								li Rutas de desplazamiento empleadas por la población de veredas, centros poblados y cabeceras municipales cuando aplique, para proveerse de los distintos bienes y servicios y las dinámicas derivadas de ello entre centros poblados y veredas y al interior de los centros poblados y veredas.
								li Formas de organización político-administrativa del territorio, así como las reconocidas socialmente.
								li Formas de asentamiento de la población (nucleada o dispersa).
								li Puntos de acceso a los servicios sociales (vivienda, salud y educación, entre otros).
								li Puntos de acceso a servicios administrativos y financieros.
								li Sitios de interés cultural, religioso, turístico y recreativo.
								li Puntos clave para el desarrollo de las actividades económicas (sitios de comercialización, provisión de insumos, servicios técnicos, entre otros).
								li Identificación y localización de las principales actividades económicas.
								li Uso y aprovechamiento de los recursos naturales por parte de la población y dependencia de las actividades locales a los mismos.
								
							p Cuando el proyecto involucre la intervención de una zona marina, se deben tener en cuenta las rutas de comunicación marítima y los lugares identificados como caladeros de pesca de la comunidad que puedan ser impactados. El análisis inicial para delimitar el área de influencia puede tomar como referencia la información oficial reportada por las entidades competentes (AUNAP, INVEMAR, DIMAR, entre otras).

							p Para la definición del área de influencia del proyecto se debe tener en cuenta la existencia de resguardos indígenas y de territorios ancestrales, territorios colectivos de comunidades negras, asentamientos de comunidades étnicas, sitios sagrados o sitios de pagamento ubicados fuera de los resguardos, entre otros, así como las respectivas certificaciones emitidas por la autoridad competente. Si dentro del área de influencia del proyecto se identifica alguna de estas figuras territoriales o sitios sagrados que no hayan sido mencionados ni certificados por la autoridad competente, se recomienda informarle tal situación presentando los soportes correspondientes, con el propósito de que ésta analice y modifique o confirme la certificación inicial.

							p La certificación de presencia de comunidades étnicas, emitida por la Dirección de Consulta Previa del Ministerio del Interior o quien haga sus veces, debe ser solicitada para el área de influencia del proyecto, no sólo para las áreas de intervención directa del mismo. La solicitud de la certificación debe considerar los criterios que defina para tal efecto el Ministerio del Interior o quien haga sus veces.
					
					
					
					
					//- Foot notes
					// +footnotes('footnotes-mod-2')
					

					//- Material modulo
					+material-modulo('material-mod-2')
					
					
					
					
	//- footer section
	+footer
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			