include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				//- banner modulos
				div#banner
			
				//- menu
				+menu
				
				//- ---------------- 
				//- ---------------- Left content
				//- ---------------- 
				div.content-left
					
					div.blocks
						+modulo('Módulo 5', 'Vedas y compensación por pérdida de Biodiversidad, valoración económica', 'test-mod-5')
						
						+navegacion('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=339319&chapterid=9656', 'back', '#', 'disabled')
				
				//- ---------------- 
				//- ---------------- Right content
				//- ---------------- 
				div.content-right
					+modulo-video('video-mod-5')
					
					h1 Lecturas
					
					ol
						li Ministerio de Ambiente y Desarrollo Sostenible. (2019). Uso y aprovechamiento del agua. Bogotá. Disponible en línea: <a href="https://www.minambiente.gov.co/index.php/gestion-integral-del-recurso-hidrico/administracion-del-recurso-hidrico/demanda/uso-y-aprovechamiento-del-agua" target="_blank">https://www.minambiente.gov.co/index.php/gestion-integral-del-recurso-hidrico/administracion-del-recurso-hidrico/demanda/uso-y-aprovechamiento-del-agua</a>
						li Decreto 1076 de 2015 Sector Ambiente y Desarrollo Sostenible <a href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=78153" target="_blank">https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=78153</a>

						li Convención sobre el Comercio Internacional de Especies Amenazadas de Fauna y Flora Silvestre. Texto de la Convención. Disponible en línea: <a href="https://www.cites.org/esp/disc/text.php#IX" target="_blank">https://www.cites.org/esp/disc/text.php#IX</a>
						li Instituto de Investigación de Recursos Biológicos
						li Alexander von Humboldt. (s.f.). Libros Rojos. Disponible en línea: <a href="http://www.humboldt.org.co/es/buscar?q=libros+rojos" target="_blank">http://www.humboldt.org.co/es/buscar?q=libros+rojos</a>

						li The UICN Red LIst Of threatened species.  Disponible en línea: <a href="https://www.iucnredlist.org/" target="_blank">https://www.iucnredlist.org/</a>

						li <a href="http://www.fao.org/3/T0848S/t0848s06.htm" target="_blank">http://www.fao.org/3/T0848S/t0848s06.htm</a>

						li <a href="http://www.fao.org/tempref/FI/CDrom/FAO_Training/FAO_Training/General/x6705s/x6705s03.htm" target="_blank">http://www.fao.org/tempref/FI/CDrom/FAO_Training/FAO_Training/General/x6705s/x6705s03.htm</a>
					
					
					
					
					
					
					
										
					//- Foot notes
					//- +footnotes('footnotes-mod-5')
					

					//- Material modulo
					+material-modulo('material-mod-5')
					
					
					
					
	//- footer section
	+footer
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			