// -----------------------
// material modulo
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	.btn-primary{
		background: $color_brand_grey;
		border: 1px solid $color_brand_grey;
		color: $color_white;
	    border-radius: 0;
	    padding: 0.6rem 1rem 0.3rem;
	    text-shadow: none;
	    font-family: $font_hel_medium;
	    font-size: 16px;
	    line-height: initial;
	    transition: all ease-in-out .2s;
	    text-decoration: none;
	    
	    .fa{
		    width: initial;
		}
	    
	    &:hover{
		    background: $color_white;
			border: 1px solid $color_brand_grey;
			color: $color_brand_grey;
	    }
	}
	
	.pager{
		
		li{
			
			a{
				background: $color_white;
			    border-radius: 0;
			    border: 1px solid $color_white;
			    padding: 0.5rem 1rem;
			    text-decoration: none;
			    margin-right: 1rem;
			    @include font_universal (
					$font_family_line_height: 20px,
					$font_family_weight: 300,
					$font_family_size: 16px,
					$font_family_color: $color_brand_blue,
					$font_family_group: $font_arial
				);
			    
			    .fa{
				    width: initial;
			    }
			    
			    &:hover{
				    background: $color_brand_blue;
				    color: $color_white;
				    border-radius: 0;
			    }
			    
			}
			
			.forward{
				margin-right: 0;
			}
			
		}
		
		a{
			background: $color_white;
		    border-radius: 0;
		    border: 1px solid $color_white;
		    padding: 0.5rem 1rem;
		    text-decoration: none;
		    margin-right: 0rem;
		        display: block;
		    @include font_universal (
				$font_family_line_height: 20px,
				$font_family_weight: 300,
				$font_family_size: 16px,
				$font_family_color: $color_brand_blue,
				$font_family_group: $font_arial
			);
		    
		    .fa{
			    width: initial;
		    }
		    
		    &:hover{
			    background: $color_brand_blue;
			    color: $color_white;
			    border-radius: 0;
		    }
		    
		}
		
		.disabled{
			a{
				opacity: 0.2;
				&:hover{
					background: $color_brand_blue;
				    color: $color_white;
				    border: 1px solid $color_brand_blue;
				}
			}
		}
		
	}
	
}