// -----------------------
// tabs
// -----------------------

.curso-cc .content-cc .container-txt,
#region-main .curso-cc .content-cc .container-txt{
	
	.bs-docs{
		float: none;
		@include max-width;
		margin: 2rem auto 4rem;
		
		.nav-tabs{
			margin-bottom: 0;
			padding: 0;
			@include max-width;
			border-bottom: 1px solid $color_brand_blue;
			
			> li{
				
				margin-bottom: 0;
				
				> a{
					border: 1px solid $color_white;
					border-radius: 0;
					@include font_universal (
						$font_family_line_height: 19px,
						$font_family_weight: 200,
						$font_family_size: 16px,
						$font_family_color: $color_white,
						$font_family_group: $font_myr_semibold
					);
					margin: 0;
					background: $color_brand_blue;
					
					&:hover{
						border-radius: 0;
						border: 1px solid $color_brand_grey;
						color: $color_brand_blue;
						background: $color_brand_grey;
					}
				}
				
			}
			
			.active{
				
				> a{
					border-radius: 0;
					border: 1px solid $color_brand_grey;
					color: $color_brand_blue;
					background: $color_brand_grey;
				}
				
			}
			
		}
		
		.tab-content{
			
			background: $color_light_background;
			box-sizing: border-box;
			padding: 1.5rem;
			
			> .tab-pane{
				//display: block;
			}
			
			> .tab-pane.active{
				display: block;
				opacity: 1;
			}
			
		}
		
	}
	
}